# Анализ данных | Python 
## ОП «Журналистика», ОП «Медиакоммуникации» 2022/23

## Семинар 8 

## Простая линейная регрессия

Сегодня будем работать с данными по оценкам студентов и времени, которое они тратят на обучение. Загружаем необходимые библиотеки и сами данные.

Источник и описание данных: [Kaggle](https://www.kaggle.com/datasets/shrutipandit707/studytime)

In [51]:
import pandas as pd
import seaborn as sns
import scipy.stats
import matplotlib.pyplot as plt

In [60]:
data = pd.read_csv('https://raw.githubusercontent.com/aaparshina/FCI_22-23_data_analysis/main/data/marks.csv')
data.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

## Обсуждение самопроверки из ОК

Предположим, что `X` и `Y` заданы так: `X = [3, 2, 98, 34, 11, 2, 3]`, `Y = [2, 1, 0, 3, 7, 2, 15]`. Постройте модель линейной регрессии. 

+ Чему будет равно предсказанное значение зависимой переменной, если значение объясняющей равно 0? 
+ На сколько будет увеличиваться предсказанное значение Y при увеличении X на 1? 
+ Чему будет равно значение среднеквадратичной ошибки? 
+ Чему будет равно значение средней абсолютной ошибки? 
+ Верно ли следующее утверждение: значение коэффициента детерминации в данной модели получилось 0.14, значит модель объясняет 76% разброса данных.

## Задачка из экзамена

In [2]:
#Y  = np.array([12, 40, 8, 60, 61])
#Z = np.array([9, 36, 10, 57, 62])

![](https://github.com/aaparshina/FCI_22-23_data_analysis/blob/main/data/pics/task16.png?raw=true)

## Тест на оценку из ОК

In [96]:
data = pd.read_csv('https://raw.githubusercontent.com/aaparshina/FCI_22-23_data_analysis/main/data/CandyData.csv')
data.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

1. Выберите переменные `sugarpercent`, `pricepercent` и `winpercent`. Проверьте предпосылку о мультиколлинеарности и укажите верное утверждение.

Постройте линейную модель, где зависимой переменной выступает `winpercent`, а независимой – `sugarpercent`. 

2. Укажите, верно ли следующее утверждение: на уровне значимости 0.05 процент сахара в конфете статистически значимо влияет на рейтинг конфеты.

3. Чему равно значение оценки коэффициента нашей независимой переменной?

4. Чему будет равно значение оценки коэффициента детерминации в данной модели?