# Анализ данных | Python 
## ОП «Журналистика», ОП «Медиакоммуникации» 2022/23

## Семинар 3 

## Признаки. Создание переменных

*Из курса "Статистика для анализа данных"*

### Обсуждение самопроверки из ОК

1. Какие данные соответствуют номинальной шкале? Выберите один верный ответ.

   `а) Возраст`
   
   `б) Национальность`
   
   `в) Температура`
   
   `г) Возрастные группы`
 
2. Предположим, что мы хотим предсказать температуру в каждом месяце года. Что в данном случае будет выступать объектами (наблюдениями)? Выберите один верный ответ.

    `а) Январь, март и апрель`
    
    `б) Месяцы года`
    
    `в) Температура`
    
    `г) Год, месяцы которого нас интересуют`
    
3. Для каких данных нельзя посчитать среднее значение? Выберите один верный ответ.

    `а) Возраст`
   
    `б) Доход`
   
    `в) Месяцы года`
   
    `г) Количество просмотров`

4. Укажите, верно ли следующее утверждение: *номинальные данные можно упорядочить*.


5. Предположим, что у нас есть данные о том, к какой из четырех групп по уровню дохода относится респондент. К какой шкале относится данный признак? Выберите один верный ответ.

   `а) Интервальная`
   
   `б) Номинальная`
   
   `в) Порядковая`
   
   `г) Дихотомическая`

### Обсуждение теста из ОК

In [1]:
import pandas as pd # импортировали библиотеку pandas и назвали ее pd

Описание данных

+ `respondentID` — идентификационный номер респондента
+ `seen` — ответ на вопрос, видел ли респондент хотя бы один фильм из серии «Звездных войн» (да/нет)
+ `fan` — ответ на вопрос, считает ли респондент себя фанатом серии фильмов (да/нет)
+ `gender` — пол респондента (М/Ж)
+ `age_group` — возрастная группа, к которой принадлежит респондент (18-29, 30-44, 45-60, > 60)
+ `income` — доход респондента в долларах США (0 - 24.999, 25.000 - 49.999, 50.000 - 99.999, 100.000 - 149.999, 150.000+)
+ `loc` — регион проживания респондента (в США)
+ `yoda` — отношение респондента к персонажу серии (Йоде)
+ `princess_leia_organa` — отношение респондента к персонажу серии (принцессе Лее Органе)

In [5]:
data = pd.read_csv('https://raw.githubusercontent.com/aaparshina/FCI_22-23_data_analysis/main/data/StarWars.csv')
data.head()

  respondentID;seen;fan;gender;age_group;income;loc;yoda;princess_leia_organa
0  3292879998;да;да;М;18-29;;Южно-Атлантический;о...
1  3292879538;нет;;М;18-29;0 - 24.999;Юго-Западны...
2  3292765271;да;нет;М;18-29;0 - 24.999;Северо-За...
3  3292763116;да;да;М;18-29;100.000 - 149.999;Сев...
4  3292731220;да;да;М;18-29;100.000 - 149.999;Сев...

Упс. Есть проблемы с данными. Нужно в качестве разделителя указать `;`.

In [6]:
data = pd.read_csv('https://raw.githubusercontent.com/aaparshina/FCI_22-23_data_analysis/main/data/StarWars.csv',
                   sep = ';')
data.head()

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится
4,3292731220,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,нравится,нравится

**1. К какой шкале относится переменная `loc`?** — Номинальная.

**2. Укажите, верно ли следующее утверждение: *мужчины 18-29 лет, которые не являются фанатами серии, чаще всего проживают в Тихоокеанском регионе*.**

In [7]:
data[(data['gender'] == 'М') & (data['age_group'] == '18-29') &(data['fan'] == 'нет')]['loc'].value_counts()

Тихоокеанский                  8
Средне-Атлантический           5
Новая Англия                   3
Северо-Западный центральный    2
Южно-Атлантический             1
Горный                         1
Юго-Восточный центральный      1
Name: loc, dtype: int64

**3. Какой регион проживания реже всего встречается в данных?**

In [10]:
data['loc'].value_counts()

Северо-Восточный центральный    181
Тихоокеанский                   175
Южно-Атлантический              170
Средне-Атлантический            122
Юго-Западный центральный        110
Северо-Западный центральный      93
Горный                           79
Новая Англия                     75
Юго-Восточный центральный        38
Name: loc, dtype: int64

**4. Сколько респондентов не ответили на вопрос, нравится ли им Йода?**

In [12]:
data['yoda'].isna().sum()

360

**5. Скольким респондентам из Новой Англии очень нравится принцесса Лея Органа?**

In [14]:
data[(data['loc'] == 'Новая Англия') &(data['princess_leia_organa'] == 'очень нравится')].shape[0]

39

**6. Сколько респондентов не видели ни одного фильма серии, но считают себя ее фанатами?**

In [15]:
data[(data['seen'] == 'нет') & (data['fan'] == 'да')].shape[0]

0

**7.Сколько респондентов не ответили ни на один вопрос?**

В Python нам достаточно посмотреть на два первых столбца (`seen` и `fan`) и понять, что уже для них нет таких респондентов, которые не ответили бы сразу на оба вопроса, значит просто не будет строк, где на все вопросы пропущены ответы.

In [16]:
data[(data['seen'].isna()) & (data['fan'].isna())].shape[0]

0

**8.Посмотрите на мужчин, проживающих в горном районе. В ответ запишите ID респондента, входящего в категорию с наивысшим доходом при заданных условиях.**

In [17]:
data[(data['loc'] == 'Горный') & (data['gender'] == 'М') & (data['income'] == '150.000+')]['respondentID']

169    3291077381
Name: respondentID, dtype: int64

**9. Укажите, верно ли следующее утверждение: *фанатов серии фильмов в возрастной категории 45-60 меньше, чем не-фанатов в возрастной категории 18-29***.

In [19]:
data[(data['fan'] == 'да') & (data['age_group'] == '45-60')].shape[0] \
< data[(data['fan'] == 'нет') & (data['age_group'] == '18-29')].shape[0]

False

**10.Сколько процентов (от общего числа респондентов) являются фанатами серии фильмов, проживают в Новой Англии и имеют доход 0 - 24.999 долларов? В ответ запишите число (процент от 0 до 100), округлите до целого.**

In [21]:
data[(data['fan'] == 'да') & (data['loc'] == 'Новая Англия') & (data['income'] == '0 - 24.999')].shape[0]

9

In [22]:
data.shape[0]

1186

In [26]:
round(9/1186 * 100)

1